.header__lang-link {
  color: white;
  margin-left: 18px;
  text-decoration: none;
}
.header__lang-link:hover {
  opacity: 0.8;
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}