.lead__figure-image {
  object-fit: contain;
  max-width: 984px;
}


@media screen and (max-width: 1024px) {
  .lead__figure-image {
    width: calc(100vw - (48px + 48px));
  }
}

@media screen and (max-width: 768px) {
  .lead__figure-image {
    width: 100%;
  }
}
