.photo-grid {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: calc(100vw - (48px + 48px));
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100vw - (24px + 24px));
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 88px;
  }
}
@media screen and (max-width: 425px) {
  .photo-grid {
    width: calc(100vw - (16px + 16px));
    grid-template-columns: 1fr;
    margin-top: 64px;
    gap: 12px;
  }
}
