.place__link {
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 22px;
}

.place__link:hover {
  opacity: 0.8;
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}
