.place {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr 460px;
  grid-auto-flow: row;
  gap: 48px 40px;
}



@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr max-content;
    gap: 48px 32px;
    width: calc(100vw - (48px + 48px));
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr max-content;
    width: calc(100vw - (24px + 24px));
    gap: 48px 28px;
   
  }
}

@media screen and (max-width: 580px) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    row-gap: 32px;
  }
}
